In [1]:
import os
import numpy as np
import pandas as pd
from pathlib import Path
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [161]:
df = pd.read_excel('data_lessons/df.xlsx')

In [4]:
df.head()

   Unnamed: 0  Unnamed: 0.1  product_id  quantity             name        date
0           0             0          56         4  Vasiliy_Fedorov  2020-12-06
1           1             1          97         3  Vasiliy_Fedorov  2020-12-06
2           2             2          79         3  Vasiliy_Fedorov  2020-12-06
3           3             3          29         5  Vasiliy_Fedorov  2020-12-06
4           0             0          73         5   Alexey_Fedorov  2020-12-08

# Обработка строк, регулярные выражения

In [10]:
#Проверка на начало строки
'Abyss'.startswith('Ab')

True

In [76]:
#врхний регистр
'Abyss'.upper()

'ABYSS'

In [164]:
#проверка на содержание в тексте
df.name.str.contains('Vasiliy').head(6)

0     True
1     True
2     True
3     True
4    False
5    False
Name: name, dtype: bool

In [169]:
#условие для нового столбца (как case в sql)
pd.Series(np.where( (df.name.str.contains('Vasiliy'))&(df.name.str.contains('Fedorov')) ,1,0)).head(6)

0    1
1    1
2    1
3    1
4    0
5    0
dtype: int64

In [ ]:
#параметризация строк и цикл с 2 переменными
for lat, lon in zip(data_itog_msk['LATITUDE'], data_itog_msk['LONGITUDE']):
    r = requests.get(f"https://search-maps.yandex.ru/v1/?text=Электроника&ll={lat},{lon}&spn=1,1&results=50&type=biz&lang=ru_RU&apikey=5dcff3d1-3b27-4fca-a2d8-e25ed8d3ee30")

Специальные символы для re, обозначающие группу значений

- \d - любая цифра (digits)
- \D - всё что угодно кроме цифры
- \s - любой пробельный символ (spaces)
- \S - всё что угодно кроме пробельного символа
- \w - любая буква, цифра или _ (words)
- \W - всё что угодно кроме буквы, цифр или _

(То есть нижний регистр - хотим это, верхний регистр - хотим не это)
- . - любой символ

### Документация re
https://docs.python.org/3/library/re.html

### HowTo?
https://docs.python.org/3/howto/regex.html

### Немного теории
https://en.wikipedia.org/wiki/Kleene_star

### Много крутых примеров
https://habr.com/ru/post/349860/

### Сайт для проверки паттернов в тексте
https://regexr.com

### Еще больше инфо
https://www.regular-expressions.info \
https://ihateregex.io

### Генерация паттернов
http://regex.inginf.units.it

In [2]:
#поиск определенных значений по тексту примеры
import re 

mail = 'vasya@yandex.ru'

pattern = re.compile('@([\w.]+)')

pattern.findall(mail)

['yandex.ru']

In [70]:
text = '''We have several emails - vasya@yandex.ru, katya_ivanova@gmail.com,
sasha@karpov.courses.com and also masha@gmail.com'''

pattern.findall(text)

['yandex.ru', 'gmail.com', 'karpov.courses.com', 'gmail.com']

In [71]:
text = 'the gray fox jumps over the lazy dog'

pattern = re.compile('ox')
pattern.findall(text)

['ox']

In [72]:
text = '+7-921-000-00-00 +7-981-555-55-55'

pattern = re.compile('\d\d\d')
pattern.findall(text)

['921', '000', '981', '555']

In [73]:
asimov = '''Робот не может причинить вред человеку или своим бездействием допустить, чтобы человеку был причинён вред.
Робот должен повиноваться всем приказам, которые даёт человек, кроме тех случаев, когда эти приказы противоречат Первому Закону.
Робот должен заботиться о своей безопасности в той мере, в которой это не противоречит Первому или Второму Законам.'''


pattern = re.compile('в...')
pattern.findall(asimov)

['вред',
 'веку',
 'воим',
 'вием',
 'веку',
 'вред',
 'вино',
 'вать',
 'всем',
 'век,',
 'в, к',
 'воре',
 'вому',
 'воей',
 'в то',
 'в ко',
 'воре',
 'вому']

In [74]:
text = '+7-921-000-00-00 +7-981-555-55-55'

pattern = re.compile('(\d\d\d)-(\d\d\d)')
pattern.findall(text)

[('921', '000'), ('981', '555')]

Квантификаторы - это символы, позволяющие специфицировать, сколько раз нужно повторить то, что идёт до них. Вот их виды

- "*" - сколько угодно раз (0 - бесконечность)
- "+" - 1 или больше раз
- "?" - 0 или 1 раз (то есть или предыдущий символ будет, или нет)
- "{}" - в скобочках можно указать точное время или диапазон, читайте подробнее о них и других символах в документации

Квантификаторы можно ставить после символа или группы. К примеру, отберём весь текст, начинающийся со слов человек

In [75]:
asimov = '''Робот не может причинить вред человеку или своим бездействием допустить, чтобы человеку был причинён вред.
Робот должен повиноваться всем приказам, которые даёт человек, кроме тех случаев, когда эти приказы противоречат Первому Закону.
Робот должен заботиться о своей безопасности в той мере, в которой это не противоречит Первому или Второму Законам.'''


pattern = re.compile('человек.*')
pattern.findall(asimov)

['человеку или своим бездействием допустить, чтобы человеку был причинён вред.',
 'человек, кроме тех случаев, когда эти приказы противоречат Первому Закону.']

In [119]:
#аналогично как в excel разбить столбец по столбцам

#вариант 1
df['name_'] = df['name_surname'].apply(lambda x: x.split(',')[0])
df['digits_'] = df['name_surname'].apply(lambda x: x.split(',')[1])
df.head(5)

,Unnamed: 0,Unnamed: 0.1,product_id,quantity,name,date,name_surname,name_,digits_
0,0,0,56,4,Vasiliy_Fedorov,2020-12-06,"Vasiliy_Fedorov, 1234",Vasiliy_Fedorov,1234
1,1,1,97,3,Vasiliy_Fedorov,2020-12-06,"Vasiliy_Fedorov, 1234",Vasiliy_Fedorov,1234
2,2,2,79,3,Vasiliy_Fedorov,2020-12-06,"Vasiliy_Fedorov, 1234",Vasiliy_Fedorov,1234
3,3,3,29,5,Vasiliy_Fedorov,2020-12-06,"Vasiliy_Fedorov, 1234",Vasiliy_Fedorov,1234
4,0,0,73,5,Alexey_Fedorov,2020-12-08,"Alexey_Fedorov, 1234",Alexey_Fedorov,1234

In [ ]:
#вариант 2
df['name_surname'] = df['name'] + ','+ ' '  + '1234'
# df['name_surname'].str.extract('(?P<name>\s) , \((?P<data>.+)\)')

# Операции с датафреймом

In [15]:
#удаление строки
df.drop(index=4).head(5)

   Unnamed: 0  Unnamed: 0.1  product_id  quantity             name        date
0           0             0          56         4  Vasiliy_Fedorov  2020-12-06
1           1             1          97         3  Vasiliy_Fedorov  2020-12-06
2           2             2          79         3  Vasiliy_Fedorov  2020-12-06
3           3             3          29         5  Vasiliy_Fedorov  2020-12-06
5           1             1          34         1   Alexey_Fedorov  2020-12-08

In [16]:
#удаление столбца
df.drop(columns='name').head(5)

   Unnamed: 0  Unnamed: 0.1  product_id  quantity        date
0           0             0          56         4  2020-12-06
1           1             1          97         3  2020-12-06
2           2             2          79         3  2020-12-06
3           3             3          29         5  2020-12-06
4           0             0          73         5  2020-12-08

In [9]:
#удалить дубликаты
a = df[['product_id','name','date']].drop_duplicates()

#Вывести дубликаты

#сколько пользователей совершили повторную покупку? (купили один и тот же товар, но в разные дни)
a.loc[a[['name','product_id']].duplicated()]

     product_id          name        date
54           15  Anton_Ivanov  2020-12-07
106          94  Petr_Fedorov  2020-12-03

In [ ]:
# Drop only if duplicates are in 'Date' or 'Last' columns
df.drop_duplicates(subset=['Date', 'Last'])

In [124]:
#подсчет числа уникальных значений pd.Series.nunique
ads_data.groupby(['ad_id'], as_index = False) \
            .agg({'date': pd.Series.nunique}).head(5)

   ad_id  date
0      3     2
1   2132     2
2   2276     2
3   2475     2
4   2643     2

In [172]:
#подсчет нулевых значений
print(df.product_id.isna().sum())
#подсчет НЕ нулевых значений  
print(df.product_id.notna().sum())

0
161

In [174]:
#вывод индекса максимального и миним значения
df['quantity'].idxmin()
df['quantity'].idxmax()

5

In [54]:
# удобный способ добавлять сразу несколько новых столбцов 

ads_data_by_ad = ads_data.assign(ctr = ads_data.time / ads_data.ad_id, 
                           ctr_per = 100 * ads_data.time / ads_data.ad_id)
ads_data_by_ad.head()

,ad_id,time,event,date,ad_cost_type,has_video,client_union_id,campaign_union_id,platform,ad_cost,target_audience_count,user_id,ctr,ctr_per
0,23456,1554076848,view,2019-04-01,CPM,0,5681,23456,android,190.0,125560,793,66254.981583,6.625498e+06
1,111941,1554135866,view,2019-04-01,CPM,0,111793,111941,ios,215.2,32277,1041,13883.526733,1.388353e+06
2,111941,1554135866,view,2019-04-01,CPM,0,111793,111941,ios,215.2,32277,41,13883.526733,1.388353e+06
3,42987,1554135866,view,2019-04-01,CPM,0,28541,42985,ios,199.1,80160,898,36153.624724,3.615362e+06
4,23456,1554135866,view,2019-04-01,CPM,0,5681,23456,web,190.0,125560,29,66257.497698,6.625750e+06

Отбор столбцов по названию pd.DataFrame.filter(items/like/regex, axis)

- items - принимает список с названиями колонок или строк, особой разницы по сравнению с loc'ом нет
- like - принимает строку, и возвращает все колонки, где в названии содержится строка, переданная в like
- regex - принимает строку, означающую паттерн ре, возвращает все колонки с названиями, матчимящимися на паттерн
- axis - параметр для обозначения того, отбираем мы колонки или строки, принимает 'columns' или 'index', по умолчанию фильтрует колонки

In [122]:
#выводим столбцы, где в названии есть id
ads_data_by_ad.filter(like = 'id').head(5)

    ad_id  has_video  client_union_id  campaign_union_id  user_id
0   23456          0             5681              23456      793
1  111941          0           111793             111941     1041
2  111941          0           111793             111941       41
3   42987          0            28541              42985      898
4   23456          0             5681              23456       29

In [67]:
#pivot удобно исп как сводные в экселе (для выноса значений)
ads_data.groupby(['ad_id', 'event'], as_index=False) \
    .agg({'time': 'min'}) \
    .pivot(index='ad_id', columns='event', values='time').reset_index()

event   ad_id         click          view
0           3  1.554431e+09  1.554423e+09
1        2132  1.554477e+09  1.554425e+09
2        2276  1.554424e+09  1.554422e+09
3        2475           NaN  1.554423e+09
4        2643  1.554459e+09  1.554424e+09
..        ...           ...           ...
350    121941  1.554252e+09  1.554250e+09
351    121943  1.554164e+09  1.554163e+09
352    122042  1.554469e+09  1.554423e+09
353    122063  1.554281e+09  1.554250e+09
354    122086  1.554164e+09  1.554163e+09

[355 rows x 3 columns]

In [68]:
#pivot_table - аналогично pivot, только можно использовать и агрегацию
ads_data.groupby(['date', 'event'], as_index=False) \
    .agg({'ad_id': 'count'}) \
    .pivot_table('ad_id', index = 'date', columns = 'event', aggfunc = 'sum')

event        click     view
date
2019-04-01     735    34832
2019-04-02    1518   145811
2019-04-03    1678   214851
2019-04-04    1517   126182
2019-04-05  501595  1783288
2019-04-06   80420   284287

In [ ]:
#преобразование float в int  -  dataframe
.fillna(0).applymap(lambda x: int(x) if isinstance(x, float) else x)

### Преобразование континуальной переменной в категориальную
Если вам нужно перейти от чисел к категориям, воспользуйтесь функцией pd.cut. Она принимает массив значений и число интервалов/список из границ интервалов

In [143]:
ads_data['ad_cost'].head()

0    190.0
1    215.2
2    215.2
3    199.1
4    190.0
Name: ad_cost, dtype: float64

In [145]:
pd.cut(ads_data['ad_cost'].head(), [100, 150, 200, 250])

0    (150, 200]
1    (200, 250]
2    (200, 250]
3    (150, 200]
4    (150, 200]
Name: ad_cost, dtype: category
Categories (3, interval[int64]): [(100, 150] < (150, 200] < (200, 250]]

In [146]:
pd.cut(ads_data['ad_cost'].head(), [100, 150, 200, 250], labels = ['low', 'medium', 'high'])

0    medium
1      high
2      high
3    medium
4    medium
Name: ad_cost, dtype: category
Categories (3, object): [low < medium < high]

In [148]:
pd.cut(ads_data['ad_cost'].head(), bins = 3)

0    (189.975, 198.4]
1      (206.8, 215.2]
2      (206.8, 215.2]
3      (198.4, 206.8]
4    (189.975, 198.4]
Name: ad_cost, dtype: category
Categories (3, interval[float64]): [(189.975, 198.4] < (198.4, 206.8] < (206.8, 215.2]]

### Интервалы для timedelta

In [149]:
data = pd.read_csv("data_lessons/delays.csv")

In [150]:
data.head()

   client_id  company_id                        delay  revenue
0       2389        4240  -1 days -14:57:48.000000000   705436
1       7614        9544  -4 days -02:14:23.000000000   859266
2       2052        2427  -0 days -06:08:57.000000000   812416
3       9635        8054  -0 days -23:40:19.000000000   162312
4       8154        5503  -1 days -13:21:53.000000000   658844

In [151]:
data['delay'] = pd.to_timedelta(data['delay'].apply(lambda x: x.replace('-','')))
data.head()

   client_id  company_id           delay  revenue
0       2389        4240 1 days 14:57:48   705436
1       7614        9544 4 days 02:14:23   859266
2       2052        2427 0 days 06:08:57   812416
3       9635        8054 0 days 23:40:19   162312
4       8154        5503 1 days 13:21:53   658844

In [155]:
#max дата
data.delay.max()

Timedelta('4 days 23:51:14')

In [157]:
pd.cut(data.delay, bins=[pd.to_timedelta('0d'),pd.to_timedelta('1d'),
                         pd.to_timedelta('2d'),pd.to_timedelta('3d'),data.delay.max()],
      labels = ['less than 1 day', '1-2 days', '2-3 days', 'more than 3 days']).head()

0            1-2 days
1    more than 3 days
2     less than 1 day
3     less than 1 day
4            1-2 days
Name: delay, dtype: category
Categories (4, object): [less than 1 day < 1-2 days < 2-3 days < more than 3 days]

## Apply

In [ ]:
#apply if conditions
day_1_3['days'] = day_1_3['hours_spent_sums'].apply(lambda x: 1 if x <= 6 else 2 if x>6 and x<=12 else 3)

# ДАТА и ВРЕМЯ

In [53]:
#переводим в формат времени
df['date'] = pd.to_datetime(df['date'])

#month, year, date
print(df['date'].dt.month.head(1))
print(df['date'].dt.day.head(1))
print(df['date'].dt.year.head(1))
print(df['date'].dt.day_name().head(1))
print(df['date'].dt.month_name().head(1))

#номер недели в году
print(df['date'].dt.week.head(1))
#число дней в текущем месяце
print(df['date'].dt.daysinmonth.head(1))

#предварительный распарс
# pd.read_csv('some.csv', parse_dates=[1])  # order of columns starting from 0

0    12
Name: date, dtype: int64
0    6
Name: date, dtype: int64
0    2020
Name: date, dtype: int64
0    Sunday
Name: date, dtype: object
0    December
Name: date, dtype: object
0    49
Name: date, dtype: int64
0    31
Name: date, dtype: int64

In [46]:
#Время может быть указано в разном формате, один из них - число секунд, прошедших с 1970 года
pd.to_datetime(1490195805, unit='s')

Timestamp('2017-03-22 15:16:45')

In [ ]:
#больше по работе с датами
https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

In [2]:
#генерация дат
pd.date_range(
    '2021-07-01',
    '2021-07-05'
)

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04',
               '2021-07-05'],
              dtype='datetime64[ns]', freq='D')

# Работа с файлами

In [ ]:
#открытие и считывание файлов
file = open('path_to_file')
lines = file.readlines()  # lines is a list with lines from the file
file.close()

In [ ]:
#обработка txt , excel файлов

In [25]:
data_1 = pd.read_excel('data_lessons/inn.xls')

In [26]:
data_1

,Unnamed: 0,#,name,reg_number,address,head,head_job,head_inn,phone,email,site,registration_date,nalogoplatelschik_code,oktmo_code,okato_code,registration_region,okato_name,field,"capital,RUB","income,RUB"
0,0,0,"ЗАО «Власова, Макаров и Шашков»",1143692580560,"д. Кирово-Чепецк, пр. Металлургов, д. 537 к. 3...",Жданов Карл Виленович,Маммолог,109092209811,+7 (559) 338-87-76,bogdanovavtonom@yahoo.com,ooo.info,2015-01-07,2006-10-04,21112877268,73423615032,Ulan-Ude,"к. Тосно, ул. Пушкинская, д. 896, 617222",Синхронизация критически важных отношений,54875526078,32205872896
1,1,1,"РАО «Тимофеева, Алексеева и Кузнецова»",9342309660697,"г. Арзамас, наб. Фестивальная, д. 7 стр. 8/2, ...",Рожков Харлампий Алексеевич,Воспитатель,704229465069,8 (632) 620-8879,safonovantonin@rao.org,ooo.net,1990-05-16,2019-01-18,18393547520,19072454279,Tyoply Stan,"ст. Кяхта, бул. Нефтяников, д. 24, 768742",Формирование заказных методик,33876448811,47437574301
2,2,2,РАО «Юдин-Ефимова»,1277485323451,"п. Меренга, алл. Достоевского, д. 3/4 к. 497, ...",Филимон Фадеевич Дьячков,Автослесарь,267655036377,+74925330378,kdorofeev@npo.ru,ao.com,1982-11-04,1986-06-19,56104355836,18629292792,Danilov,"клх Усолье Сибирское, алл. Шишкина, д. 3/9 к. ...",Максимизация корпоративных метрик,94073834991,7701710065
3,3,3,Доронин Инкорпорэйтед,7139161431511,"д. Иваново, ул. Красных Партизан, д. 83 к. 4, ...",Крылов Глеб Якубович,Тюремный надзиратель,362024991175,+7 118 643 21 48,nkulakova@mail.ru,ooo.ru,2005-01-02,2004-04-06,10398489351,32502585383,Beryozovsky,"г. Заводоуковск, ул. Гражданская, д. 7 к. 8/5,...",Разработка ориентированных на пользователя инт...,86971505490,61148002572
4,4,4,Объединенная энергетическая компания,6114798049639,"к. Энгельс, наб. Шишкина, д. 120, 823828",Субботин Вячеслав Федотович,Инженер-электрик,257948948010,8 642 249 2134,evgraf_18@yahoo.com,gerasimova.biz,1983-07-02,1992-06-20,20074507047,40083207999,Bavly,"к. Соль-Илецк, пер. Пригородный, д. 804 к. 1/3...",Монетизация интуитивных веб-сервисов,36351136214,34861533393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105,2105,2105,"ИП «Зайцев, Шубин и Дементьева»",6580539599719,"к. Чебаркуль, бул. Кольцевой, д. 19 к. 3, 911953",Назар Гордеевич Миронов,Дефектолог,575321775842,8 (390) 976-88-54,juvenali_66@ao.edu,aviakompanija.edu,2007-02-01,2014-10-29,13383530491,62100202894,Gudermes,"г. Миасс, пр. Пожарского, д. 39 стр. 880, 386211",Охват прозрачных методик,88659854892,61232741869
2106,2106,2106,Юдина Лтд,5012825137426,"д. Темрюк, ш. Автомобилистов, д. 9 стр. 59, 80...",Игнатов Кирилл Арсенович,Прозектор,703895742672,+7 854 489 5577,gavrila_2019@gmail.com,npo.net,1973-08-13,2001-11-09,40544984216,35386922447,Tver,"к. Мыс Шмидта, алл. Комарова, д. 257 стр. 3, 8...",Увеличение кроссплатформенных действий,20441750025,67450329265
2107,2107,2107,Антонова Лимитед,7659150538516,"г. Ноябрьск, пр. Весенний, д. 418, 214696",Александров Радим Ярославович,Дознаватель,576824176737,+7 (135) 034-6805,chernovlongin@rambler.ru,krilov.net,2018-11-03,2016-06-15,39266483828,21174514029,Sharypovo,"с. Щелково, алл. Попова, д. 143 к. 811, 155684",Мотивация сенсационных решений,9278989412,77350481806
2108,2108,2108,ООО «Хохлов Казаков»,9506828156265,"к. Липецк, наб. Халтурина, д. 60, 449290",Воробьев Сидор Фролович,Снайпер,157426408379,+7 172 548 4422,qpanova@hotmail.com,oao.org,1980-07-02,2009-11-23,76945273610,95601014531,Privolzhskiy,"п. Токма, ш. 50 лет Победы, д. 730, 791941",Охват серверных результатов,84921082372,85023560472
2109,2109,2109,ИП «Кабанов Ситникова»,5283860848622,"г. Котлас, бул. 30 лет Победы, д. 73, 801698",Эммануил Аверьянович Фомичев,Филолог,508412506243,+7 224 287 5729,novikovprokofi@gmail.com,kompanija.com,2001-05-17,2014-01-21,86322929141,84557726914,Dyat‚Äôkovo,"с. Усмань, ш. Песочное, д. 754 стр. 3, 031897",Итерация передовых моделей,38622960779,10015090473

In [37]:
#достаем названия инн
file = open('data_lessons/necessary_inn.txt')
a = file.readlines()
inn = pd.DataFrame(a, columns = ['head_inn'])
inn['head_inn'] = inn['head_inn'].apply(lambda x: x.replace('\n',''))
inn

         head_inn
0    394609645484
1    281578625230
2    923769811917
3    998694734508
4    271011690615
..            ...
110  664306216794
111  991951385204
112  129413497752
113  447901012904
114  634037614688

[115 rows x 1 columns]

In [39]:
# и далее фильтруем таблицу эксель
filtr_inn = list(inn['head_inn'])
data_1_ = data_1.query("head_inn in @filtr_inn")

In [42]:
# извлечение csv из zip
ads_data = pd.read_csv('data_lessons/ads_data.csv.zip', compression='zip')

In [ ]:
# извлечение файлов из zip

import zipfile
         
fantasy_zip = zipfile.ZipFile('C:\\Stories\\Fantasy\\archive.zip')
fantasy_zip.extractall('C:\\Library\\Stories\\Fantasy')
 
fantasy_zip.close()

In [ ]:
#gzip распаковка
import gzip
with gzip.open('report_1.csv.gz') as f:
    r1 = pd.read_csv(f, sep = ',')

In [43]:
ads_data.head()

,ad_id,time,event,date,ad_cost_type,has_video,client_union_id,campaign_union_id,platform,ad_cost,target_audience_count,user_id
0,23456,1554076848,view,2019-04-01,CPM,0,5681,23456,android,190.0,125560,793
1,111941,1554135866,view,2019-04-01,CPM,0,111793,111941,ios,215.2,32277,1041
2,111941,1554135866,view,2019-04-01,CPM,0,111793,111941,ios,215.2,32277,41
3,42987,1554135866,view,2019-04-01,CPM,0,28541,42985,ios,199.1,80160,898
4,23456,1554135866,view,2019-04-01,CPM,0,5681,23456,web,190.0,125560,29

## json

In [ ]:
r = requests.get("https://search-maps.yandex.ru/v1/?text=Автосервис,Москва,ул. Смоленская&type=biz&lang=ru_RU&apikey=5d1b9d12-cd98-428c-b107-349ebff1982d")

In [ ]:
#сохраняем json
with open('personal.json', 'w') as json_file:
    json.dump(r.text, json_file)

In [ ]:
#загружаем json
with open('personal.json', 'r') as j:
    json_data = json.load(j)

In [ ]:
#сохр в таблицу 
a = pd.json_normalize(json.loads(r.text), max_level=0)['features'][0]
pd.json_normalize(a)

# Статистика

In [60]:
#основные стат показатели
ads_data.describe()

,ad_id,time,has_video,client_union_id,campaign_union_id,ad_cost,target_audience_count,user_id
count,3.176714e+06,3.176714e+06,3.176714e+06,3.176714e+06,3.176714e+06,3.176714e+06,3.176714e+06,3.176714e+06
mean,1.028316e+05,1.554441e+09,2.255161e-03,1.008235e+05,1.025734e+05,1.946914e+02,8.359324e+05,4.167535e+03
std,2.557407e+04,8.225481e+04,4.743496e-02,2.909663e+04,2.547980e+04,2.478399e+01,6.136294e+06,2.038522e+03
min,3.000000e+00,1.554077e+09,0.000000e+00,1.000000e+00,1.000000e+00,4.240000e+01,1.860000e+02,1.000000e+00
25%,1.125830e+05,1.554447e+09,0.000000e+00,1.118180e+05,1.122600e+05,1.994000e+02,2.394080e+05,2.508000e+03
50%,1.125830e+05,1.554470e+09,0.000000e+00,1.118180e+05,1.122600e+05,1.994000e+02,2.394080e+05,4.421000e+03
75%,1.125830e+05,1.554488e+09,0.000000e+00,1.118180e+05,1.122600e+05,1.994000e+02,2.394080e+05,5.855000e+03
max,1.220860e+05,1.554509e+09,1.000000e+00,1.220860e+05,1.220860e+05,2.254000e+02,1.549714e+08,8.490000e+03

In [64]:
print(ads_data['time'].median())
print(ads_data['time'].mean())
print(ads_data['time'].quantile(q=0.75))

1554469525.0
1554441034.675119
1554487984.0

In [66]:
#вывод квантилей (higher берет наибольшую точку из смжных)
print(ads_data.quantile(q=[0.5,0.75], interpolation = 'higher'))

       ad_id        time  has_video  client_union_id  campaign_union_id  \
0.50  112583  1554469525          0           111818             112260
0.75  112583  1554487984          0           111818             112260

      ad_cost  target_audience_count  user_id
0.50    199.4                 239408     4421
0.75    199.4                 239408     5855

# Оконные функции

In [125]:
ads_data.head()

,ad_id,time,event,date,ad_cost_type,has_video,client_union_id,campaign_union_id,platform,ad_cost,target_audience_count,user_id
0,23456,1554076848,view,2019-04-01,CPM,0,5681,23456,android,190.0,125560,793
1,111941,1554135866,view,2019-04-01,CPM,0,111793,111941,ios,215.2,32277,1041
2,111941,1554135866,view,2019-04-01,CPM,0,111793,111941,ios,215.2,32277,41
3,42987,1554135866,view,2019-04-01,CPM,0,28541,42985,ios,199.1,80160,898
4,23456,1554135866,view,2019-04-01,CPM,0,5681,23456,web,190.0,125560,29

In [127]:
#rolling(5) -  окно функции (5 значений) .mean() - агрегация
ads_data['ad_cost'].rolling(5).mean().head(10)

0       NaN
1       NaN
2       NaN
3       NaN
4    201.90
5    174.60
6    142.26
7    140.46
8    138.16
9    143.26
Name: ad_cost, dtype: float64

In [128]:
# min_periods - указывает минимум значений для агрегации, если нам не важно какое окно функции
ads_data['ad_cost'].rolling(5, min_periods=1).mean().head(10)

0    190.000
1    202.600
2    206.800
3    204.875
4    201.900
5    174.600
6    142.260
7    140.460
8    138.160
9    143.260
Name: ad_cost, dtype: float64

In [130]:
#скользящее среднее (берется (текущее + текущее-1) / 2)
ads_data['ad_cost'].rolling(window=2).mean().head(10)

0       NaN
1    202.60
2    215.20
3    207.15
4    194.55
5    121.75
6     53.50
7    129.85
8    196.90
9    201.55
Name: ad_cost, dtype: float64

In [131]:
#центрированное скользящее среднее (берется (текущее + текущее-1 + текущее+1) / 3)
ads_data['ad_cost'].rolling(window=3, center = True).mean().head(10)

0           NaN
1    206.800000
2    209.833333
3    201.433333
4    147.533333
5     99.000000
6    104.400000
7    149.100000
8    203.100000
9    197.300000
Name: ad_cost, dtype: float64

### Экспоненциальное сглаживание

Следующий шаг — экспоненциальное сглаживание. В предыдущем подходе (скользящее среднее), использовались 
n последних наблюдений и все они имели равный вес. В данном случае веса экспоненциально уменьшаются, т.е. более "старые" события имеют меньший вес, а для подсчета используются все имеющиеся наблюдения.

In [132]:
ads_data['ad_cost'].ewm(span=2).mean().head(10)

0    190.000000
1    208.900000
2    213.261538
3    203.702500
4    194.529752
5    100.380769
6     69.112626
7    160.518140
8    178.573631
9    203.191627
Name: ad_cost, dtype: float64

In [ ]:
#накопленная сумма
data_f1_ = data_f1.sort_values(['rating'])
data_f1_['hours_spent_sums'] = data_f1_['hours_spent'].cumsum()

# Списки

In [133]:
#Создание списков
xs = [i + 3 for i in range(10)]
xs

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [134]:
# Get all even numbers
evens = [i for i in range(10) if i % 2 == 0]
evens

[0, 2, 4, 6, 8]

### Итерация по нескольким спискам одновременно

In [136]:
nums = [3, 5, 7]
letters = ['all', 'for', 'exoplanets colonization']

for num, letter in zip(nums, letters):
    print([num, letter])

[3, 'all']
[5, 'for']
[7, 'exoplanets colonization']