In [7]:
import os
import numpy as np
import pandas as pd
from pathlib import Path
import seaborn as sns
import matplotlib.pyplot as plt
import re

%matplotlib inline

### Задачи

1) Выделите из колонки attributes значение атрибута Parent - то есть если там записано Parent=x, то нам нужен x \
2) Выясните какое из этих значений является самым частым \
3) Постройте распределение встречаемости значений в столбце type

In [4]:
data = pd.read_csv('data_lessons/gff.tsv', sep = '\t')

In [5]:
data.head()

,seq_id,source,type,start,end,score,strand,phase,attributes
0,chr17,RefSeq,exon,6811330,6811453,.,+,.,Parent=XM_001475631.1
1,chr17,RefSeq,CDS,6808204,6808245,.,+,0,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
2,chr17,RefSeq,CDS,6811792,6811869,.,+,2,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
3,chr17,RefSeq,exon,6806513,6806553,.,+,.,Parent=XM_001475631.1
4,chr17,RefSeq,five_prime_UTR,6806513,6806526,.,+,.,Parent=XM_001475631.1

In [31]:
pattern = re.compile('Parent=([\w.]+)')
data['parent'] = data['attributes'].apply(lambda x: pattern.findall(str(x)))
data['parent'] = data['parent'].apply(lambda x: x[0].replace("[",""))

In [33]:
data['parent'].head()

0    XM_001475631.1
1    XM_001475631.1
2    XM_001475631.1
3    XM_001475631.1
4    XM_001475631.1
Name: parent, dtype: object

In [34]:
data.parent.value_counts()

XM_001475631.1    479
NC_000083.5        33
Name: parent, dtype: int64

In [38]:
data.type.value_counts()

exon               201
CDS                170
five_prime_UTR      47
mRNA                33
three_prime_UTR     32
protein             29
Name: type, dtype: int64